body {
  background-color: #f0e8d3;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

.fancyNav{
  /* Affects the UL element */
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  font-size:12px;
  font-family: 'Eagle Lake', cursive;
}
.fancyNav li{
  display:inline;
}
.fancyNav a{
    display:inline-block;
    padding:10px;
    color: #d0b893;
    text-decoration:none;
}

/*

===========
 MENU DONE
===========

*/


h1, p {
  color: #333;
}

h2 {
  font-family: 'Eagle Lake', cursive;
  color: #933;
  font-size: 16px;
}

input  {
  border: 0px;
  font-size: 14px;
}

#character-name {
  font-family: 'Eagle Lake', cursive;
  color: #933;
  font-size: 32px;
  font-weight: bold;
}

#player-name {
  font-weight: bold;
  text-align:right;
}

#title_box {
  width: 500px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 5px auto 10px auto;
  clear: both;
}


#cost_teller {
  font-size: 8pt;
  text-align: right;
  color: #999;
  margin-top: 5px;
}


#click_counter {
  text-align: left;
  margin-top: 5px;
}

#click_counter_value {
  float: right;
  margin-right: 5px;
}

button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:6px 10px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}.loadsave:hover {
  background-color:#dfdfdf;
}.loadsave:active {
  position:relative;
  top:1px;
}

#click_counter button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  display:inline-block;
  color:#777777;
  padding:2px 4px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  font-size: 6pt;
  border-radius:2px;
  border:1px solid #dcdcdc;
  vertical-align:middle;
  float: right;
}.classname:hover {
  background-color:#dfdfdf;
}.classname:active {
  position:relative;
  top:1px;
}

#new_virtue_or_flaw {
  color: #ccc;
  font-size:10px;
  background-color : #fff;
  border: 0px solid #008000;
}

#virtue-flaw {
  margin-top: 5px;
}



/************************************************************************************
STRUCTURE
*************************************************************************************/
#wholepage {
  padding: 5px;
  width: 840px;
  margin: 0px auto;
  position: relative;
}

#characteristics_box {
  position: absolute;
  left:0px;
  width: 250px;
  height: 250px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
}

#virtues_and_flaws_box {
  position: absolute;
  left: 0px;
  top: 300px;
  height: 250px;
  width: 250px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
}

#relationships_box {
  position: absolute;
  left: 290px;
  width: 250px;
  height: 250px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
}

#personality_box {
  position: absolute;
  left: 290px;
  top: 300px;
  height: 250px;
  width: 250px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
}

#skills_box {
  position: absolute;
  left: 580px;  
  width: 250px;
  height: 545px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
  font-size: 12px;
}

#chronicle_box {
  position: absolute;
  width: 830px;
  top: 620px;
  left: 0px;
  font-size: 12px;
  border: 1px solid #d0b893;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin:20px;
}

/*
/* for 980px or less */
@media screen and (max-width: 980px) {
  #wholepage {
  width: 94%;  
  }
  
  #characteristics_box {
    width: 25%;
  }
  #virtues_and_flaws_box {
    width: 25%;
  }
  #skills_box {
    width: 25%;
  }
}

/* for 700px or less */
@media screen and (max-width: 850px) {
  #wholepage {
  width: 95%;
  }
  
  #characteristics_box {
    width: 35%;
  }
  #virtues_and_flaws_box {
    width: 35%;
  }
  #skills_box {
    width: 35%;
  }
}
@media screen and (max-width: 620px) {
  body {
    font-size: 20px;
  }
  #click_counter button {
    font-size: 12px;
  }
  #wholepage {
  width: 432px;
  }
  #characteristics_box {
    width: auto;
    float: none;
  }
  #virtues_and_flaws_box {
    width: auto;
    float: none;
  }
  #skills_box {
    width: auto;
    float: none;
  }
}
/* for 480px or less */
@media screen and (max-width: 480px) {
  #wholepage {
    width: 90%;
  }  
  #header {
    height: auto;
  }
  h1 {
    font-size: 18px;
  }
}
*/
