body {
  background-color: #ccc;
  /*background-image:url('knot.png');
  background-repeat:no-repeat;
  background-position: right;
  background-size: 250px 250px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

input  {
  border: 0px;
}

#character-name {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}


#title_box {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 100px auto 20px auto;
  clear: both;
}




#cost_teller {
  font-size: 8pt;
  text-align: right;
  margin-top: 5px;
}


#click_counter {
  text-align: left;
  margin-top: 5px;
}

#click_counter_value {
  float: right;
  margin-right: 5px;
}

#click_counter button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  display:inline-block;
  color:#777777;
  padding:2px 4px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  font-size: 6pt;
  border-radius:2px;
  border:1px solid #dcdcdc;
  vertical-align:middle;
  float: right;
}.classname:hover {
  background-color:#dfdfdf;
}.classname:active {
  position:relative;
  top:1px;
}

#new_virtue_or_flaw {
  color: #ccc;
  background-color : #fff;
  border: 0px solid #008000;
}
#virtue-flaw {
  margin-top: 5px;
}

#new_skills {
  color: #ccc;
  background-color : #fff;
  border: 0px solid #008000;
}
#skill {
  margin-top: 5px;
}



/************************************************************************************
STRUCTURE
*************************************************************************************/
#wholepage {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}

#header {
  height: 180px;
}

#characteristics_box {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
  float: left;
}

#virtues_and_flaws_box {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  margin: 20px;
  float: left;
}

#skills_box {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin: 20px;
  float: left;
}

#chronicle_box {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding:10px;
  margin:20px auto 20px auto;
  clear: both;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
  #wholepage {
  width: 94%;  
  }
  
  #characteristics_box {
    width: 25%;
  }
  #virtues_and_flaws_box {
    width: 25%;
  }
  #skills_box {
    width: 25%;
  }
}

/* for 700px or less */
@media screen and (max-width: 850px) {
  #wholepage {
  width: 95%;
  }
  
  #characteristics_box {
    width: 35%;
  }
  #virtues_and_flaws_box {
    width: 35%;
  }
  #skills_box {
    width: 35%;
  }
}
@media screen and (max-width: 620px) {
  body {
    font-size: 20px;
  }
  #click_counter button {
    font-size: 12px;
  }
  #wholepage {
  width: 432px;
  }
  #characteristics_box {
    width: auto;
    float: none;
  }
  #virtues_and_flaws_box {
    width: auto;
    float: none;
  }
  #skills_box {
    width: auto;
    float: none;
  }
}
/* for 480px or less */
@media screen and (max-width: 480px) {
  #wholepage {
    width: 90%;
  }  
  #header {
    height: auto;
  }
  h1 {
    font-size: 18px;
  }
}

